<template>
  <div id="app">
    <list
      namespace='notes'
      :child="Note"
      :items='notes'
      @addItem="addItem"
      @deleteItem="deleteItem"
      @update="update"
      @save="save"
      @revert="revert" />
  </div>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import List from './List';
  import Note from './Note';

  export default {
    name: 'app',
    components: {
      List
    },

    data() {
      return {
        Note
      }
    },

    computed: {
      ...mapState('notes', [
        'items'
      ]),

      ...mapGetters('notes', [
        'isModified'
      ]),

      notes() {
        // In order to pass the getter isModified to the list, we decorate every
        // note item with the precomputed getter.
        return Object.entries(this.items).reduce((notes, [id, item]) => ({
          ...notes,
          [id]: {
            ...item,
            isModified: this.isModified({ id })
          }
        }), {})
      }
    },

    methods: {
      ...mapActions('notes', [
        'addItem',
        'deleteItem',
        'update',
        'save',
        'revert'
      ])
    }
  }
</script>

<style lang="scss">

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    display: flex;
    width: 100%;
    height: 100%;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 2rem auto auto;

    padding: 2rem;
    border: 2px solid #E8E8E8;

    & > *:not(:first-child) {
      margin-top: 2rem;
    }
  }
</style>
