<template>
  <div id="list">
    <div>
      <template
        v-for="(item, id) in items">
        <component
          :key="id"
          :is='child'
          v-bind="item"
          v-on="listeners(id)"
          @delete="$emit('deleteItem', { id })"/>
      </template>
    </div>
    <button
      @click="$emit('addItem')">
      Add
    </button>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    name: 'app',
    description: [
      '`List` displays a list of items using the child component given in props.',
    ].join(' '),
    props: {
      namespace: {
        type: String
      },
      child: {
        type: Object
      },
      items: {
        type: Object
      }
    },
    methods: {
      listeners(id) {
        return Object.entries(this.$listeners).reduce((listeners, [name, handler]) => ({
          ...listeners,
          [name]: (payload) => handler({ id, ...payload })
        }), {})
      }
    }
  }
</script>

<style lang="scss">
  button, input {
    border: 2px solid #D8D8D8;
    color: #B8B8B8;
    background: transparent;
    padding: .4rem 1rem;
    font-weight: 600;
    width: 100%;

  }

  button:not(:first-of-type) {
    margin-left: 1rem;
  }
</style>
